.wrapper {
    margin: 250px auto;
    width: "100%";
    padding: 10px;
   
}   

.text-country {
    font-weight: 700;
    font-size: 72px;
    font-style: normal;
    font-family: 'SF Pro Text';
    line-height: 86px;
}
.input-search {
    inline-size: 0%;
    height: 45px;
    width: 650px;
    border: 0;
}
.img-search {
    width: 30px !important;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper-search {
    border-radius: 10px;
}