.container {
    margin: 90px;
}

.btn-back {
    width: 229px;
    height: 50px;
    background-color: #8362F2;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none !important;
}

.img-back-btn {
    width: 15px !important;
    height: 15px !important;
    color: #FFFFFF !important;
}

.Text-Home {
    color: #FFFFFF !important;
    font-family: 'SF Pro Text';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
    margin: 5px;   
}

.Text-Country {
    width: 235px;
    height: 57px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: #000000;
}

.img-country {
    width: 46px;
    height: 30px;
}

.IntialCountry {
    border-radius: 50px;
    background-color: #8DD4CC;
    margin: 5px;
}

.Text-Intial-Country {
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    font-family: "SF Pro Text";
    line-height: 14px;
    margin: 10px;
    color: white;
}

.custome-card {
    background: #FFFFFF;
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.02), 4px 4px 4px rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    border: none !important;
    margin-right: 25px;
}

.Long {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-family: "SF Pro Text";
    line-height: 21px;
    color: #000000;
}

.ValueLong {
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    font-family: "SF Pro Text";
    line-height: 57px;
    color: #8362F2;
}

.img-word {
    width: 204px;
    height: 120px;
    margin-left: 15px;
}

.Text-Key {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.Text-Value {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.desc {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.desc span {
    text-decoration-line: underline;
    color: #8362F2;
}